<div class="row">
  <div class="col-12">
    <%= simple_form_for([@room, Message.new], data: {
      action: "turbo:submit-end->messages#resetForm", messages_target: "input_form"
    }) do |f| %>
      <div class="input-group input-group-lg">
        <%= f.input :body,
            label: false,
            input_html: { placeholder: "Type your message here" },
            wrapper_html: {class: "form-control" },
            class: "form-control input-group-lg" %>
        <%= f.submit "Send", class: "btn btn-outline-secondary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
