<p style="color: green"><%= notice %></p>

<div class="container mt-5 text-center">
  <h3>Rooms</h3>
  <div id="rooms">
    <% @rooms.each do |room| %>
      <%= link_to room.name.capitalize, room %>
      <br />
    <% end %>
  </div>
  <%= link_to "New room", new_room_path %>
</div>
