<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-secondary">
  <div class="container text-center">
    <h1 class="nav-brand d-inline-flex p-2"><strong>ChatZone</strong></h1>
    <i class="bi bi-wechat"></i>
  </div>
</nav>
